.participants {
  width: 30%;
  height: 100%;
  font-size: 0.9rem;
}

.participants ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.participants ul li {
  display: flex;
  text-align: left;
  align-items: center;
  padding: .5em;
}

.participants ul li img {
  background: gray;
  border-radius: 50%;
  height: 2em;
  margin-right: .5em;
}

.participants ul li h2,
.participants ul li p {
  margin: 0;
}

.participants ul li h2 {
  font-size: 1em;
}

.participants ul li span {
  color: gray;
  display: inline-block;
}

.participants ul li span::before {
  content: "";
  display: inline-block;
  height: .75em;
  width: .75em;
  margin-right: .5em;
  background: lightgray;
  border-radius: 50%;
}

.participants ul li span.online::before {
  background: #64D481;
}